POSTGRES_DB=database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_password

JWT_SECRET_KEY=secret-string
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000
